<table class="admin">
  <tr>
   <th>User Name</th>
   <th>Hours</th>
   <th>Date</th>
  </tr>
  <% for work_history in @work_histories %>
  <tr>
   <td><%= work_history.user_id %></td>
   <td><%= work_history.effort %></td>
   <td><%= work_history.occurrence_date %></td>
   <td> <%= link_to icon("delete"), work_history , :method => :delete , :confirm => 'Are you sure?'%> </td>
  </tr>
</table>
<p><%= link_to "Record New Work", new_work_load_work_history_path(@work_load) %></p>
