<%= form_tag work_loads_path, :method => 'get', :id => "work_loads_search" do %>
   
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="work_loads"><%= render 'work_loads'%></div>
<% end %>




<p><%= link_to "New Work Load", new_work_load_path %></p>
