<table class="admin">
  <tr>
   <th><%= sortable "name" %></th>
   <th><%= sortable "status" %></th>
   <th><%= sortable "priority" %></th>
    <th><%= sortable "completed_date" %></th>
  </tr>
  <% for work_load in @work_loads %>
  <tr>
   <td><%= work_load.name %></td>
   <td><%= work_load.status %></td>
   <td><%= work_load.priority %></td>
   <td><%= work_load.completed_date %></td>
   <td><%= link_to "edit", edit_work_load_path(work_load) %> | <%= link_to "delete", work_load , :method => :delete , :confirm => 'Are you sure?'%></td>
  </tr>
  <% end %>
</table>
<p><%= link_to "New Work Load", new_work_load_path %></p>
